services:
  mycelium-nginx:
    image: nginx:1.27-alpine3.20
    container_name: mycelium-nginx
    ports:
      - "8000:8000"
    volumes:
      - ./mycelium-backend:/app:delegated
      - ./shared:/app/shared:ro
      - mycelium-php-socket:/etc/nginx/php/sock:rw
      - ./docker/mycelium-nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    env_file: ${ENV_FILE:-./mycelium-backend/.env.local}

  mycelium-api:
    build:
      context: docker/mycelium-php
      args:
        USER_ID: ${USER_ID}
        GROUP_ID: ${GROUP_ID}
    container_name: mycelium-api
    volumes:
      - ./mycelium-backend:/app:rw
      - ./shared:/app/shared:ro
      - mycelium-php-socket:/etc/php/sock:rw
    extra_hosts:
      - host.docker.internal:host-gateway
    env_file: ${ENV_FILE:-./mycelium-backend/.env.local}

  mycelium-queues:
    build:
      context: docker/mycelium-php
      dockerfile: Dockerfile.queue
      args:
        USER_ID: ${USER_ID}
        GROUP_ID: ${GROUP_ID}
    container_name: mycelium-queues
    volumes:
      - ./mycelium-backend:/app:rw
      - ./shared:/app/shared:ro
    extra_hosts:
      - host.docker.internal:host-gateway
    env_file: ${ENV_FILE:-./mycelium-backend/.env.local}
    depends_on:
      - mycelium-localstack

  mycelium-frontend:
    build:
      context: docker/mycelium-node
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    container_name: mycelium-frontend
    ports:
      - "8001:8001"
    volumes:
      - ./mycelium-frontend:/app:delegated
      - ./shared:/app/shared:ro
    env_file: ${ENV_FILE:-./mycelium-frontend/.env.local}

  mycelium-localstack:
    image: localstack/localstack:4.9
    container_name: mycelium-localstack
    ports:
      - "8799:8799"
      - "4566:4566"
      - "4510-4559:4510-4559"
    environment:
      DEBUG: "0"
      SERVICES: "sqs"
      AWS_DEFAULT_REGION: "${AWS_REGION:-us-east-1}"
      AWS_REGION: "${AWS_REGION:-us-east-1}"
      LOCALSTACK_HOST: "${LOCALSTACK_URL:-host.docker.internal}"
      SKIP_SSL_CERT_DOWNLOAD: "1"
      PERSISTENCE: "1"
    volumes:
      - ./docker/mycelium-localstack:/var/lib/localstack:rw
      - /var/run/docker.sock:/var/run/docker.sock:rw
    env_file:
      - ${ENV_FILE:-./mycelium-backend/.env.local}
    networks:
      default:
        aliases:
          - ${LOCALSTACK_URL:-localstack}
          - sqs.us-east-1.${LOCALSTACK_URL:-localstack}

  ###> doctrine/doctrine-bundle ###
  mycelium-database:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
      POSTGRES_CHARSET: ${POSTGRES_CHARSET:-utf8}
    ports:
      - "5432:5432"
    volumes:
      - ./docker/mycelium-database:/var/lib/postgresql/18/docker
    env_file:
      - ${ENV_FILE:-./mycelium-backend/.env.local}
  ###< doctrine/doctrine-bundle ###

  mycelium-redis:
    image: redis:8.2-alpine
    container_name: mycelium-redis
    volumes:
      - ./docker/mycelium-redis/data/redis:/data
    ports:
      - "6379:6379"
    env_file:
      - ${ENV_FILE:-./mycelium-backend/.env.local}

  hyphae-nginx:
    image: nginx:1.27-alpine3.20
    container_name: hyphae-nginx
    ports:
      - "9000:9000"
    volumes:
      - ./hyphae-backend:/app:delegated
      - ./shared:/app/shared:ro
      - hyphae-php-socket:/etc/nginx/php/sock:rw
      - ./docker/hyphae-nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    env_file: ${ENV_FILE:-./hyphae-backend/.env.local}

  hyphae-api:
    build:
      context: docker/hyphae-php
      args:
        USER_ID: ${USER_ID}
        GROUP_ID: ${GROUP_ID}
    container_name: hyphae-api
    volumes:
      - ./hyphae-backend:/app:rw
      - ./shared:/app/shared:ro
      - hyphae-php-socket:/etc/php/sock:rw
    extra_hosts:
      - host.docker.internal:host-gateway
    env_file: ${ENV_FILE:-./hyphae-backend/.env.local}

  ###> symfony/mailer ###
  fangi-mailer:
    image: axllent/mailpit:v1.27
    container_name: fangi-mailer
    ports:
      - "1025:1025"
      - "8025:8025"
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: "1"
      MP_SMTP_AUTH_ALLOW_INSECURE: "1"
  ###< symfony/mailer ###

volumes:
  mycelium-php-socket:
  hyphae-php-socket:
