when@prod:
  sentry:
    dsn: "%env(SENTRY_DSN)%"
    options:
      traces_sample_rate: 0.2
      send_default_pii: false
      ignore_exceptions:
        - "Symfony\\Component\\HttpKernel\\Exception\\AccessDeniedHttpException"
        - "Symfony\\Component\\HttpKernel\\Exception\\BadRequestHttpException"
        - "Symfony\\Component\\HttpKernel\\Exception\\NotFoundHttpException"
        - "Symfony\\Component\\Security\\Core\\Exception\\AccessDeniedException"
        - "Symfony\\Component\\Security\\Core\\Exception\\AccountExpiredException"
        - "Symfony\\Component\\Security\\Core\\Exception\\AuthenticationException"
        - "JsonException"
    register_error_listener: false
    register_error_handler: false

when@stage:
  sentry:
    dsn: "%env(SENTRY_DSN)%"
    options:
      traces_sample_rate: 1.0
      send_default_pii: false
      ignore_exceptions:
        - "Symfony\\Component\\HttpKernel\\Exception\\AccessDeniedHttpException"
        - "Symfony\\Component\\HttpKernel\\Exception\\BadRequestHttpException"
        - "Symfony\\Component\\HttpKernel\\Exception\\NotFoundHttpException"
        - "Symfony\\Component\\Security\\Core\\Exception\\AccessDeniedException"
        - "Symfony\\Component\\Security\\Core\\Exception\\AccountExpiredException"
        - "Symfony\\Component\\Security\\Core\\Exception\\AuthenticationException"
        - "JsonException"
    register_error_listener: false
    register_error_handler: false
